@import "tailwindcss";

*{
  box-sizing: border-box;

}
body{

overflow-x: hidden;
}


.orbi {
  font-family: "Orbitron", sans-serif;
 
  font-style: normal;
}
.raj {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}